.row.top-buffer
  - present(@movies).each do |movie|
    .col-xs-4.col-md-3.col-lg-2
      %a.thumbnail
        = image_tag movie.poster_url, alt: movie.title

.row
  .col-xs-12
    .text-center= paginate @movies
