.row.top-buffer
  - present(@movies).to_enum.with_index(1) do |movie, i|
    .col-xs-4.col-md-3.col-lg-2
      %a.thumbnail
        = image_tag movie.poster_url, alt: movie.title
    = responsive_columns_fix(i, xs: 3, sm: 3, md: 4, lg: 6)

.row
  .col-xs-12
    .text-center= paginate @movies
